extends layouts/header-component.pug

block styleSheets 
  link(rel="stylesheet", href="/css/form.css")

block bodyMainContent
  main
    form.new-product_form(action="/admin/add-product",method="POST")
      div.form-control
        label(for="title") Title
        input(type="text",name="title")#title
      button.btn(type="submit") Add Product